[Desktop Entry]
Name=Salomón AI
Comment=Asistente de inteligencia artificial
Exec=salomon-ai
Icon=salomon-ai
Terminal=false
Type=Application
Categories=Utility;Office;
